# Limpando os dados para trabalharmos em nosso sistema de recomendação

In [3]:
import pandas as pd
import random

import mysql.connector
from sqlalchemy import create_engine

In [2]:
username = 'root'
password = 'rootpassword'
host = 'localhost' 
database = 'db_recommendations_system'

engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Carregando bancos conectados a Quantum Finance

In [6]:
bancos = pd.read_csv('../data/bancos_codigos.csv')
bancos.columns = ['descricao', 'codigo']
bancos['id_banco'] = 0

bancos.head()

                 descricao  codigo  id_banco
0          Banco do Brasil       1         0
1  Caixa Econômica Federal     104         0
2            Itaú Unibanco     341         0
3                 Bradesco     237         0
4                Santander      33         0

In [7]:
bancos.to_sql('openfinance_bancos', con=engine, if_exists='append', index=False)

10

# Carregando Investimentos conectados a Quantum Finance

In [10]:
investimentos = pd.read_csv('../data/investimentos_bancos.csv')
investimentos.columns = ['tipo_investimento', 'risco', 'descricao']
investimentos['id_produto'] = 0

investimentos.head()

,tipo_investimento,risco,descricao,id_produto
0,Poupança,Baixo risco,"Rendimento moderado, abaixo da inflação em mui...",0
1,CDB,Baixo para médio risco,"Rendimento superior à poupança, varia conforme...",0
2,RDB,Baixo para médio risco,"Semelhante ao CDB, com liquidez diária em algu...",0
3,LCI/LCA,Baixo risco,"Isento de imposto de renda para pessoa física,...",0
4,Fundos de Investimento,Variável,"Depende do tipo do fundo (renda fixa, ações, e...",0

In [11]:
investimentos.to_sql('openfinance_produtos', con=engine, if_exists='append', index=False)

10

# Carregando Clientes conectados a Quantum Finance

In [16]:
clientes = pd.read_csv('../data/clientes.csv')
clientes['id_cliente'] = 0

clientes.head()

      customer_name state  age gender    salary  total_invested  id_cliente
0  Guglielma Ripper    SC   22      M  23036.64        27801.45           0
1      Linc Mainson    TO   27      M  16192.56        32110.58           0
2  Loren Birwhistle    RJ   56      M  16053.01        34390.72           0
3    Clarie Robinet    PE   70      M  45925.22        81220.68           0
4   Brenden Josling    SE   67      F  24378.72       150108.87           0

In [17]:
clientes.to_sql('quantumfinance_clientes', con=engine, if_exists='append', index=False)

1000

# Gerando dados das contas bancarias em outros bancos

In [41]:
cliente_produto = pd.DataFrame()

for id_cliente in range(1, 1001):
    cliente = pd.DataFrame({'id_cliente': id_cliente}, index=[0])
    quantidade_bancos = random.randint(1, 10)
    for _ in range(quantidade_bancos):
        id_banco = random.randint(1, 10)
        quantidade_produtos = random.randint(1, 10)  
        for _ in range(quantidade_produtos):
            cliente['id_banco'] = id_banco
            cliente['id_produto'] = random.randint(1, 10)
            cliente_produto = pd.concat([cliente_produto, cliente])

cliente_produto.shape

(29874, 3)

In [45]:
cliente_produto.head()

   id_cliente  id_banco  id_produto
0           1         4           2
0           1         4           3
0           1         4           9
0           1         4           4
0           1         3          10

In [46]:
cliente_produto.to_sql('quantumfinance_cliente_produto', con=engine, if_exists='append', index=False)

29874